*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* 1 REM = 10px | Rule is to devide it by 3 so 30px would be 3 REM*/
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}